<header>
  <img
    src="assets/img/fotoDiego.jpg"
    alt="Diego Soares - foto Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Diego Soares</h1>
</header>

<aside>
  <div class="container">
    <p>JavaScript | Angular | TypeScript | CSS</p>
    <p>Cândido Mota, São Paulo, Brasil</p>
    <p>
      Sou desenvolvedor focado em constante aprendizado e na aplicação das
      melhores práticas do mercado. Recentemente, abracei o desafio do
      Front-end, onde estou aprimorando minhas habilidades.
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/Diego__Soares.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="www.linkedin.com/in/diego-soares-009398234"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/email.png"
          alt="ícone para contado do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="mailto:dsadamovich@gmail.com"
            target="_blank"
          >
            <strong>Envie uma e-mail para:</strong>
            <p>dsadamovich&#64;gmail.com</p></a
          >
        </figcaption>
      </figure>
    </section>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.png"
          alt="ícone para contado do Whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5518996862010&text=Ol%C3%A1%20Diego,%20preciso%20de%20um%job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (18)99686-2910</p></a
          >
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
