:root {
    --primary: #2fbf71;
    --primary-1: #21804d;
    --primary-2 :#598f9a;
    --primary-3 :#95bbc4;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;
    --black: #13131d;

    --cyan: #C9D6FE;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
    --grey-1: #3b3b43;
}